name: flutter_skyway
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons:
  mobx:
  flutter_mobx:
  get: ^4.6.1
  flutter_screenutil: ^5.2.0
  easy_localization: ^3.0.0
  # For Networking
  dio: ^4.0.4
  retrofit: ^3.0.1+1
  # For Model
  freezed_annotation: ^1.1.0
  json_serializable: ^6.1.4
  pretty_dio_logger:

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  freezed:
  mobx_codegen:
  flutter_lints:
  flutter_gen_runner:
  retrofit_generator:

flutter_gen:
  output: lib/generated
  line_length: 80

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: assets/fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: assets/fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: assets/fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto/Roboto-Black.ttf
          weight: 900
        - asset: assets/fonts/Roboto/Roboto-ThinItalic.ttf
          weight: 100
          style: italic
        - asset: assets/fonts/Roboto/Roboto-LightItalic.ttf
          weight: 300
          style: italic
        - asset: assets/fonts/Roboto/Roboto-MediumItalic.ttf
          weight: 500
          style: italic
        - asset: assets/fonts/Roboto/Roboto-BoldItalic.ttf
          weight: 700
          style: italic
        - asset: assets/fonts/Roboto/Roboto-BlackItalic.ttf
          weight: 900
          style: italic